<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>weiai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D0F76E51DA6B12300D98B16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D0F76FE1DA6B12400D98B16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D0F77091DA6B12400D98B16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
